body {
  font-family: Arial;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 100px;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px 15px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.services {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px;
}

.card {
  background: white;
  padding: 20px;
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

#bookingList {
  margin-top: 20px;
}
